* {
  margin: 0;
  padding: 0;
}


  /* Fuente Default */

html { font-family: var(--ff-inter); }

/* Colores de todos los titulos */

h1, h2, h3, h4, h5, h6 { color: var(--white); }

/* Default background color */

body {
  background: var(--main-color);
  color: var(--white);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

.navbar,
.banner {
  padding: 0 var(--px);
}

.container {
  max-width: 1440px;
  margin: auto;
}
 
/* Navbar */

.navbar-cont {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-bg);
}
 
.navbar-nav { 
  display: flex;
} 

.navbar-nav li:not(:last-child) { margin-right: 60px; }
 
.navbar-link {
  color: var(--white);
  cursor: pointer;    
}

.navbar-link:hover {
  color: var(--accent-color);
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar {
  position: relative;
  margin-right: 50px;
}

::placeholder {
  color: var(--main-color);
}

.navbar-search {
  background: var(--search-bar);
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  color: var(--main-color);
  font-size: var(--fs-sm);
}

.navbar-close,
.navbar-search-btn { display: none; }

.btn{
  padding: 0.7rem 1.4rem;
  background: var(--accent-color);
  color: var(--white);
  font-weight: 400;
  border-radius: 20px;
}
.btn:hover{
  background: rgb(131, 37, 37);
}

.btn-footer{
  border-radius: 20px;
  padding: 0.4rem 1.0rem;
  width: 10%;
  height: 10%;
}

.btn-footer:hover{
  background: rgb(131, 37, 37);
}

#back{
  margin-left: 45%;
}

.navbar-signin {
  display: flex;
  align-items: center;
}

input, button, select {
  border: none;
}

li { list-style: none; }

.a-fix{
  text-decoration: none;
  display: block;
  color: var(--white);
}

/* Banner de Pelicula Destacada */

.banner { margin-bottom: 60px; }

.banner-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.banner-img { object-position: center; }

.banner-card:hover .banner-img { transform: scale(1.1); }

.banner-card .card-content {
  position: absolute;
  right: 80px;
  bottom: 60px;
  left: 80px;
}

.banner-card .card-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px black;
  color: white;
}

.banner-card .card-info div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.banner-card .card-title {
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
  color: white;
}
 
  /* Grid de Peliculas */

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.movie-card {
  /* Variable para la escala de los elementos en el hover */
  --scale: 0.8;
  cursor: pointer;
}

.movie-card .card-head {
  position: relative;
  height: 85%;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.movie-card .card-overlay {
  opacity: 0;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay { opacity: 1; }

.movie-card .rating {
  position: absolute;
  top: 15px;
  padding: 6px;
  border-radius: 10px;
  color: var(--main-color);
  transform: scale(var(--scale));
}

.movie-card .rating {
  display: flex;
  align-items: center;
  right: 15px;
  background: var(--main-color);
}

.movie-card .rating span {
  color: var(--white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}

.movie-card .rating img {
  width: 24px;
  margin-right: 5px;
}

.movie-card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play img {
  width: 100%;
  height: 100%;
}

.movie-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.movie-card:hover .card-title { color: var(--accent-color); }

.movie-card .card-info {
  font-size: var(--fs-x-sm);
}

/* Pie de pagina */

.footer {
  background: var(--main-color);
  padding: 80px var(--px) 40px;
  margin-top: 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 30px;
  margin-left: 34%;
  margin-top: 7%;
  }

.footer-brand {
  max-width: 250px;
  margin-right: 130px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 30px;
}

.slogan {
  font-size: var(--main-color);
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: calc(18%)
}

.footer-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  align-items: flex-end;
}

.link-heading { margin-bottom: 20px; }

.link-item { font-size: var(--white); }

ul .link-item:not(:last-child) { margin-bottom: 10px; }

.link-item:hover a { color: var(--accent-color); }

.footer-copyright {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  margin-left: 30%;
  margin-bottom: 3%;
}

.footer-copyright p,
.terms-condit a { font-size: var(--main-color); }

.terms-condit a:hover { color: var(--white); }

.terms-condit { display: flex; }

.terms-condit a:not(:last-child) { margin-right: 30px; }

.terms-condit {margin-right: 38%;}

.movie-card-particular{
  margin-top: 3%;
}

/*  Pelicula Especifica */

.info-film-u{
  margin-top: 1%;
  margin-left: 20%;
}

.card-img-particular{
  border-radius: 15px;
  width: 17%;
}

.movie-card-text{
  margin-left: 20%;
  margin-top: -26%;
}

.add-comments{
  position: relative;
  margin-top: 15%;
}

.comments{
  margin-top: 2%;
  background-color: rgb(102, 102, 102);
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.comment{
  margin-top: 1%;
  margin-left: 1%;
  float: left;
}

    /* Variables */

:root {
    /* Colores */
  --main-color: hsl(0, 0%, 0%);
  --accent-color: hsla(0, 100%, 50%, 0.8);
  --white: hsl(0, 0%, 88%);
  --search-bar: hsl(0, 0%, 63%);

    /* Tipografia */

  --ff-inter: "Inter", sans-serif;
      
    /* Tamaño de fuente */
  --fs-bg:           22px;
  --fs-md:           17px;
  --fs-sm:           14px;
  --fs-x-sm:         12px;
}